:root {
  --background-color: #f5fbff;
  --unselected-header-title-size: 20px;
  --selected-header-title-size: 27px;
  --primary-color: #0088ff;
  --unselected-header-title-color: black;
  --selected-header-title-color: var(--primary-color);
  --gap-beetween-header-titles: 13px;
  --semibold: 600;
  --medium: 500;
  --welcome-font-size: 41px;
  --border-radius-on-star: 22px;
  --logo-width: 55px;
  --row-gap-beetween-header-titles: 1rem;
}

body {
  font-family: Urbanist;
  background-color: var(--background-color);
}

.logo {
  width: var(
    --logo-width
  ); /* Height is set to width because of 1/1 aspect ratio */
  margin-right: 5px;
}
.header {
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 1rem;
}
.header-titles {
  margin-left: var(--gap-beetween-header-titles);
  display: flex;
  column-gap: var(--gap-beetween-header-titles);
  align-items: center;
  row-gap: var(--row-gap-beetween-header-titles); /* In case of small screen  */
}
.header-title {
  font-family: Urbanist;
  font-weight: var(--medium); /* Medium */
  font-size: var(--unselected-header-title-size);
  color: var(--unselected-header-title-color);
  letter-spacing: 0px;
}

.header-title.selected {
  color: var(--selected-header-title-color);
  font-size: var(--selected-header-title-size);
  font-weight: var(--semibold); /* Semibold */
}
.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.centered-container {
  width: 75%;
}
.welcome-container {
  width: 100%;
  display: flex;
}
.welcome {
  font-family: Urbanist;
  font-weight: var(--semibold);
  font-size: var(--welcome-font-size);
  margin: 0;
}
.os-cover {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 1rem;
}
.left-cover {
  /* Left cover */
  & .os-cover-slogan {
    font-family: Poppins;
    font-weight: var(--semibold);
    font-size: 22px;
    text-align: left;
    letter-spacing: 0px;
    width: 320px;
  }
  & .cover-buttons {
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 0.7rem;
    margin-bottom: 2rem;
  }
  & .cover-btn {
    border-radius: 8px;
    width: fit-content;
    padding: 0.5rem;
    color: var(--background-color); /* Same color as body background */
    font-family: Urbanist;
    font-size: 20px;
    font-weight: var(--semibold);
    letter-spacing: 0px;
    border: none;
    cursor: pointer;
    &.cover-download {
      background-color: #80c3ff;
    }
    &.cover-more {
      background-color: #b2dbff;
    }
  }
  & .aquaos-star-container {
    position: relative;
    width: 100%;
    margin: auto;
  }

  & .aquaos-star {
    display: block;
    border-bottom-left-radius: var(--border-radius-on-star);
  }

  & .aquaos-logo {
    position: absolute;
    left: 1.5rem;
    bottom: 1.5rem;
  }
}
@media screen and (max-width: 800px) {
  .os-cover {
    grid-template-columns: 1fr;
    & .aquaos-star-container {
      display: none;
    }
  }
}
@media screen and (max-width: 400px) {
  :root {
    --logo-width: 40px;
    --gap-beetween-header-titles: 6px;
  }
  .centered-container {
    width: 100%;
  }
  .header {
    margin: 0.5rem;
  }
  .header-titles {
    flex-wrap: wrap;
  }
  .os-cover {
    padding: 0;
  }
  .aqualauncher {
    width: 80%;
  }
}

.right-cover {
  display: flex;
  justify-content: center;
  align-items: center;
  /* Initially hide and position off-screen */
  & .aqualauncher {
    opacity: 0;
    transform: translateY(100px);
  }
  /* Start animation when image is loaded */
  & .aqualauncher.start-animation {
    animation: Animate-in 0.5s linear forwards; /* Forwards keeps the properties of animation after it is done */
  }
}

@keyframes Animate-in {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
