.content-container {
  display: flex;
}
.star-container {
  justify-content: flex-end;
  align-items: center;
}
.phone-container {
  justify-content: flex-end;
  align-items: center;
  margin-right: 10px;
}
.text-container {
  justify-content: center;
  align-items: flex-start;
}
